/* ------------------------------------------------------------------ */

/* a. General Styles
/* ------------------------------------------------------------------ */

body {
  background: #0f0f0f;
  width: 100%;
}

/* ------------------------------------------------------------------ */

/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

/* vertically center banner section */

header:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

header .banner {
  display: inline-block;
  vertical-align: middle;
  margin: 10% auto;
  width: 85%;
  text-align: center;
}

header .banner-text {
  width: 100%;
}

header .banner-text h1 {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  color: #fff;
  letter-spacing: -2px;
  margin: 0 auto 18px auto;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, .8);
}

header .banner-text h3 {
  /* para under headline */
  font: 18px/1.9em 'librebaskerville-regular', serif;
  color: #A8A8A8;
  margin: 0 auto;
  width: 70%;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
}

header .banner-text h3 span, header .banner-text h3 a {
  color: #fff;
}

header .banner-text hr {
  width: 80%;
  margin: 18px auto 24px auto;
  border-color: #2F2D2E;
}

/* header social links */

header .social {
  margin: 24px 0;
  padding: 0;
  font-size: 30px;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, .8);
}

header .social li {
  display: inline-block;
  margin: 0 10px;
  padding: 0;
}

header .social li a {
  color: #fff;
}

header .social li a:hover, active {
  color: #11ABB0;
}

/* scrolldown link */

header .scrolldown a {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -29px;
  color: #fff;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  color: #fff;
  border-radius: 100%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

header .scrolldown a:hover {
  color: #11ABB0;
}

/* primary navigation
--------------------------------------------------------------------- */

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* nav-wrap */

#nav-wrap {
  font: 14px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.opaque {
  background: linear-gradient(#090a0f, #1b2735);
}

/* hide toggle button */

#nav-wrap>a.mobile-btn {
  display: none;
}

ul#nav {
  /* nav bar */
  min-height: 48px;
  height: 55px;
  width: auto;
}

ul#nav li {
  position: relative;
  list-style: none;
  height: 48px;
  letter-spacing: 3px;
  display: inline-block;
  text-shadow: 1px 6px 6px rgba(0, 0, 0, .8);
}

/* Links */

ul#nav li a {
  /* 8px padding top + 8px padding bottom + 32px line-height = 48px */
  display: inline-block;
  padding: 8px 13px;
  line-height: 38px;
  text-decoration: none;
  text-align: left;
  color: #fff;
  position: relative;
  -webkit-transition: color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  -ms-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
  -webkit-transition: -webkit-transform 0.2s, color 1.3s;
  /* color fade when hovering over nav button */
}

/* nav animation */

ul#nav li a:active {
  background-color: transparent !important;
}

ul#nav li.current a {
  color: #00CCCC;
}

ul#nav li a:hover, active {
  -webkit-transform: scale(1.1);
  color: rgb(133, 179, 180);
}

ul#nav li a:before {
  /* creates underline -  set to invisble atm*/
  content: "";
  position: absolute;
  width: 100%;
  height: 1.3px;
  /* height of the underline */
  bottom: 0;
  left: 0;
  margin: auto auto 4px auto;
  background-color: whitesmoke;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

ul#nav li a:hover:before {
  /* shows the underline -  set to visble on hover*/
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transform: scale(1.1);
  color: whitesmoke;
}

/* ------------------------------------------------------------------ */

/* c. About Section
/* ------------------------------------------------------------------ */

#about {
  background: #2B2B2B;
  padding-top: 110px;
  padding-bottom: 80px;
  overflow: hidden;
}

#about a, #about a:visited {
  color: #fff;
  font: 14px/20px 'opensans-bold', sans-serif;
}

#about a:hover, #about a:focus {
  color: rgb(0, 212, 212);
}

#about h2 {
  font: 22px/30px 'opensans-bold', sans-serif;
  color: #fff;
  margin: 0px;
  padding-bottom: 10px;
}

#about h5 {
  font: 18px/26px 'opensans-bold', sans-serif;
  color: #fff;
}

#about p {
  color: #fff;
  font-size: 18px;
}

#about .contact-details {
  width: 125%;
}

#about .profile-pic {
  position: center;
  margin-left: 35px;
  width: 140px;
  height: 140px;
  border-radius: 10%;
}

#about .main-col {
  padding-right: 5%;
}

#about .download {
  margin-left: 18px;
}

#about .download .button i {
  margin-right: 15px;
  font-size: 20px;
}

#about span {
  color: rgb(190, 190, 190);
}

#about em {
  color: whitesmoke;
}

/* work examples */

/* ------------------------------------------------------------------ */

/* e. Portfolio Section
/* ------------------------------------------------------------------ */

#portfolio {
  background: #ebeeee;
  background: #c6c7c7;
  padding-top: 90px;
  padding-bottom: 80px;
}

#portfolio h1 {
  font: 24px/28px 'opensans-semibold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 65px;
  margin-top: -20px;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #00CCCC;
}

#portfolio h2 {
  font: 22px/24px 'opensans-semibold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

/* Portfolio Content */

#portfolio-wrapper .columns {
  margin-bottom: 36px;
}

.portfolio-item .item-wrap {
  background: #fff;
  box-shadow: 0px 0.3px 15px 3px #888888;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.portfolio-item .item-wrap a {
  display: block;
  cursor: pointer;
}

/* overlay */

.portfolio-item .item-wrap .overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background: url(../images/overlay-bg.png) repeat;
}

.portfolio-item .item-wrap .link-icon {
  display: block;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.6s ease-in-out;
  -moz-transition: opacity 0.6s ease-in-out;
  -o-transition: opacity 0.6s ease-in-out;
  transition: opacity 0.6s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
}

.portfolio-item .item-wrap img {
  vertical-align: bottom;
}

.portfolio-item .portfolio-item-meta {
  padding: 18px
}

.portfolio-item .portfolio-item-meta h5 {
  font: 14px/21px 'opensans-bold', sans-serif;
  color: #fff;
}

.portfolio, #subheadingSkills, li {
  color: #00CCCC;
  letter-spacing: 0.1px;
  font: 14px;
}

.portfolio-item .portfolio-item-meta p {
  font: 12px/18px 'opensans-light', sans-serif;
  color: #c6c7c7;
  margin-bottom: 0;
}

/* on hover */

.portfolio-item:hover .overlay {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

.portfolio-item:hover .link-icon {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}

/* popup modal */

.popup-modal {
  max-width: 500px;
  background: #fff;
  position: relative;
  margin: 0 auto;
}

.popup-modal .description-box {
  padding: 12px 36px 18px 36px;
}

.popup-modal .description-box h4 {
  font: 15px/24px 'opensans-bold', sans-serif;
  margin-bottom: 12px;
  color: #111;
}

.popup-modal .description-box p {
  font: 14px/24px 'opensans-regular', sans-serif;
  color: #A1A1A1;
  margin-bottom: 12px;
}

.popup-modal .description-box .categories {
  font: 11px/21px 'opensans-light', sans-serif;
  color: #A1A1A1;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  text-align: left;
}

.popup-modal .description-box .categories i {
  margin-right: 8px;
}

.popup-modal .link-box {
  padding: 18px 36px;
  background: #111;
  text-align: left;
}

.popup-modal .link-box a {
  color: #fff;
  font: 11px/21px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  cursor: pointer;
  margin: 10px;
}

.popup-modal a:hover {
  color: #00CCCC;
}

/* fadein/fadeout effect for modal popup
/* ------------------------------------------------------------------ */

/* content at start */

.mfp-fade.mfp-wrap .mfp-content .popup-modal {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* content fadein */

.mfp-fade.mfp-wrap.mfp-ready .mfp-content .popup-modal {
  opacity: 1;
}

/* content fadeout */

.mfp-fade.mfp-wrap.mfp-removing .mfp-content .popup-modal {
  opacity: 0;
}

/* Skills */

/* Skills */

#skills {
  background: #fff;
  padding-top: 8%;
  padding-bottom: 10%;
  overflow: hidden;
}

#skills a, #skills a:visited {
  color: #00CCCC;
}

#skills a:hover, #skills a:focus {
  color: #313131;
}

#skills .main-col {
  padding-right: 4%;
}

#skills h1 {
  text-align: center;
  color: grey;
  font: 28px/32px 'opensans-bold', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -50px;
  text-decoration: underline;
  text-decoration-color: #00CCCC;
}

#skills h2 {
  /* skills */
  /* text-shadow: 0.6px 0.6px 2px grey; */
  font: 200% 'librebaskerville-regular', serif;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  width: 90%;
}

#skills h6 {
  margin: 50px 0px -50px 0px;
  text-align: center;
  font-weight: 100;
  color: rgb(109, 109, 109);
  font: 18px 'librebaskerville-regular', serif;
}

#skills .stats {
  font-size: 42px;
  font-family: "proxima-nova", Arial, "Lucida Grande", sans-serif;
  word-spacing: 10px;
  width: 100%;
}

#skills .stats hr {
  border-color: rgb(129, 125, 125);
  opacity: 0.3;
  border: none;
  width: 80%;
  height: 50px;
  border-bottom: 0.1px solid rgb(75, 75, 75);
  box-shadow: 0 3px 3px -3px #333;
  margin: -50px auto 10px;
}

#skills .stats .line {
  text-align: center;
  padding: 10px;
  -webkit-transition: -webkit-transform 0.2s, color 1.2s;
  /* color fade when hovering over text */
}

#skills .stats .line:hover, active {
  -webkit-transform: scale(1.15);
  color: #00CCCC;
}

/* Flex Slider
/* ------------------------------------------------------------------ */

/* Reset */

.flexslider a:active, .flexslider a:focus {
  outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides li {
  margin: 0;
  padding: 0;
}

/* Necessary Styles */

.flexslider {
  position: relative;
  zoom: 1;
  margin: 0;
  padding: 0;
}

.flexslider .slides {
  zoom: 1;
}

.flexslider .slides>li {
  position: relative;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides>li {
  display: none;
  -webkit-backface-visibility: hidden;
}

/* Suggested container for slide animation setups. Can replace this with your own */

.flex-container {
  zoom: 1;
  position: relative;
}

/* Clearfix for .slides */

.slides:before, .slides:after {
  content: " ";
  display: table;
}

.slides:after {
  clear: both;
}

/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides>li:first-child {
  display: block;
}

/* Slider Styles */

.slides {
  zoom: 1;
}

.slides>li {
  /*margin-right: 5px; */
  overflow: hidden;
}

/* ------------------------------------------------------------------ */

/* i. Footer
/* ------------------------------------------------------------------ */

footer {
  padding-top: 48px;
  margin-bottom: 48px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;
}

footer a, footer a:visited {
  color: #525252;
}

footer a:hover, footer a:focus {
  color: #fff;
}

/* copyright */

footer .copyright {
  margin: 0;
  padding: 0;
}

footer .copyright li {
  display: inline-block;
  margin: 0;
  padding: 0;
  line-height: 24px;
  color: #A1A1A1;
}

.ie footer .copyright li {
  display: inline;
}

footer .copyright li:before {
  content: "\2022";
  padding-left: 10px;
  padding-right: 10px;
  color: #095153;
}

footer .copyright li:first-child:before {
  display: none;
}

/* social links */

footer .social-links {
  margin: 18px 0 30px 0;
  padding: 0;
  font-size: 35px;
}

footer .social-links li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-left: 42px;
  color: #fff;
}

footer .social-links li:first-child {
  margin-left: 0;
}

/* Go To Top Button */

#go-top {
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -30px;
}

#go-top a {
  text-decoration: none;
  border: 0 none;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #525252;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #fff;
  font-size: 21px;
  line-height: 60px;
  border-radius: 100%;
}

#go-top a:hover {
  background-color: #0F9095;
}

header {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1.3px;
  height: 1.3px;
  background: transparent;
  box-shadow: 1151px 1438px #11ABB0, 1567px 911px #11ABB0, 695px 1519px #11ABB0, 525px 379px #11ABB0, 1267px 902px #11ABB0, 1707px 870px #11ABB0, 24px 1887px #11ABB0, 1118px 284px #11ABB0, 1596px 349px #11ABB0, 579px 1388px #11ABB0, 1635px 1723px #11ABB0, 560px 339px #11ABB0, 1598px 1198px #11ABB0, 1813px 1824px #11ABB0, 86px 260px #11ABB0, 1938px 1931px #11ABB0, 587px 284px #11ABB0, 609px 604px #11ABB0, 869px 1829px #11ABB0, 1441px 670px #11ABB0, 1616px 1255px #11ABB0, 1099px 755px #11ABB0, 1793px 1745px #11ABB0, 100px 814px #11ABB0, 1659px 200px #11ABB0, 375px 1471px #11ABB0, 33px 421px #11ABB0, 1217px 1265px #11ABB0, 1166px 1528px #11ABB0, 270px 1595px #11ABB0, 1655px 1691px #11ABB0, 1179px 1403px #11ABB0, 979px 877px #11ABB0, 836px 292px #11ABB0, 358px 1967px #11ABB0, 1628px 472px #11ABB0, 138px 503px #11ABB0, 129px 1137px #11ABB0, 877px 923px #11ABB0, 169px 1211px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 1228px 1411px #11ABB0, 949px 1424px #11ABB0, 1259px 1158px #11ABB0, 1254px 648px #11ABB0, 1542px 474px #11ABB0, 262px 446px #11ABB0, 1858px 1200px #11ABB0, 818px 1204px #11ABB0, 1099px 1301px #11ABB0, 1791px 1368px #11ABB0, 1926px 1982px #11ABB0, 1881px 851px #11ABB0, 259px 746px #11ABB0, 1500px 261px #11ABB0, 1741px 1979px #11ABB0, 982px 695px #11ABB0, 521px 1406px #11ABB0, 884px 431px #11ABB0, 491px 1725px #11ABB0, 756px 233px #11ABB0, 381px 1214px #11ABB0, 1957px 146px #11ABB0, 1329px 1984px #11ABB0, 162px 1595px #11ABB0, 749px 1961px #11ABB0, 846px 1744px #11ABB0, 1881px 835px #11ABB0, 578px 1557px #11ABB0, 655px 427px #11ABB0, 1707px 466px #11ABB0, 1469px 110px #11ABB0, 371px 523px #11ABB0, 942px 1659px #11ABB0, 1147px 1169px #11ABB0, 381px 302px #11ABB0, 1054px 1156px #11ABB0, 100px 1453px #11ABB0, 803px 33px #11ABB0, 221px 1794px #11ABB0, 57px 194px #11ABB0, 1759px 1237px #11ABB0, 291px 834px #11ABB0, 1242px 714px #11ABB0, 1724px 1808px #11ABB0, 1736px 198px #11ABB0, 137px 735px #11ABB0, 1639px 757px #11ABB0, 453px 195px #11ABB0, 1682px 1104px #11ABB0, 505px 466px #11ABB0, 1430px 430px #11ABB0, 1404px 1258px #11ABB0, 1106px 1426px #11ABB0, 645px 1497px #11ABB0, 970px 1521px #11ABB0, 305px 1190px #11ABB0, 297px 1724px #11ABB0, 1263px 245px #11ABB0, 1874px 70px #11ABB0, 82px 1662px #11ABB0, 1129px 807px #11ABB0, 1159px 180px #11ABB0, 6px 1403px #11ABB0, 1288px 1830px #11ABB0, 700px 1637px #11ABB0, 1050px 1025px #11ABB0, 184px 1451px #11ABB0, 1028px 1379px #11ABB0, 1666px 1496px #11ABB0, 1810px 1820px #11ABB0, 320px 45px #11ABB0, 174px 1606px #11ABB0, 1151px 629px #11ABB0, 952px 1317px #11ABB0, 328px 1399px #11ABB0, 502px 1535px #11ABB0, 302px 729px #11ABB0, 1647px 278px #11ABB0, 1412px 1872px #11ABB0, 842px 1595px #11ABB0, 1481px 429px #11ABB0, 1115px 946px #11ABB0, 406px 1287px #11ABB0, 61px 996px #11ABB0, 260px 848px #11ABB0, 806px 466px #11ABB0, 852px 1728px #11ABB0, 1045px 342px #11ABB0, 1024px 1058px #11ABB0, 647px 955px #11ABB0, 1895px 1045px #11ABB0, 1861px 1350px #11ABB0, 677px 993px #11ABB0, 1812px 1282px #11ABB0, 268px 1759px #11ABB0, 1780px 1596px #11ABB0, 1525px 1205px #11ABB0, 100px 1799px #11ABB0, 1742px 1926px #11ABB0, 1226px 703px #11ABB0, 495px 278px #11ABB0, 511px 1499px #11ABB0, 997px 1614px #11ABB0, 1416px 771px #11ABB0, 1269px 1731px #11ABB0, 843px 1107px #11ABB0, 1603px 1111px #11ABB0, 1721px 925px #11ABB0, 1810px 1796px #11ABB0, 178px 77px #11ABB0, 1193px 1695px #11ABB0, 1763px 400px #11ABB0, 1762px 255px #11ABB0, 1097px 1704px #11ABB0, 143px 917px #11ABB0, 39px 933px #11ABB0, 435px 1836px #11ABB0, 1623px 727px #11ABB0, 622px 75px #11ABB0, 1996px 1819px #11ABB0, 1704px 429px #11ABB0, 963px 1077px #11ABB0, 1498px 159px #11ABB0, 699px 1962px #11ABB0, 378px 1436px #11ABB0, 204px 648px #11ABB0, 1899px 1730px #11ABB0, 1115px 1582px #11ABB0, 1745px 1156px #11ABB0, 1076px 1627px #11ABB0, 385px 1469px #11ABB0, 1992px 1286px #11ABB0, 1994px 1821px #11ABB0, 587px 1115px #11ABB0, 1187px 363px #11ABB0, 168px 1198px #11ABB0, 1332px 937px #11ABB0, 486px 1035px #11ABB0, 619px 1957px #11ABB0, 1494px 1012px #11ABB0, 670px 1260px #11ABB0, 774px 1156px #11ABB0, 594px 1080px #11ABB0, 1548px 1175px #11ABB0, 139px 1775px #11ABB0, 1308px 1301px #11ABB0, 846px 106px #11ABB0, 1412px 1215px #11ABB0, 1443px 1899px #11ABB0, 1725px 1095px #11ABB0, 575px 1946px #11ABB0, 1027px 486px #11ABB0, 881px 1176px #11ABB0, 792px 1365px #11ABB0, 1475px 1902px #11ABB0, 1485px 1693px #11ABB0, 109px 1536px #11ABB0, 183px 359px #11ABB0, 769px 1857px #11ABB0, 1147px 1288px #11ABB0, 482px 1463px #11ABB0, 9px 1382px #11ABB0, 848px 525px #11ABB0, 1334px 1003px #11ABB0, 1986px 1572px #11ABB0, 306px 1639px #11ABB0, 1206px 1289px #11ABB0, 1338px 923px #11ABB0, 690px 88px #11ABB0, 402px 1433px #11ABB0, 1507px 1624px #11ABB0, 1076px 617px #11ABB0, 57px 686px #11ABB0, 851px 1384px #11ABB0, 1791px 1460px #11ABB0, 1854px 163px #11ABB0, 767px 1944px #11ABB0, 1152px 94px #11ABB0, 1722px 1052px #11ABB0, 1956px 1814px #11ABB0, 201px 1205px #11ABB0, 1695px 1301px #11ABB0, 623px 442px #11ABB0, 49px 1115px #11ABB0, 1508px 1373px #11ABB0, 1301px 821px #11ABB0, 1402px 1410px #11ABB0, 1740px 1213px #11ABB0, 1215px 1023px #11ABB0, 459px 1915px #11ABB0, 468px 901px #11ABB0, 1363px 1634px #11ABB0, 363px 859px #11ABB0, 570px 1669px #11ABB0, 937px 1664px #11ABB0, 751px 1657px #11ABB0, 700px 504px #11ABB0, 652px 182px #11ABB0, 550px 1735px #11ABB0, 720px 392px #11ABB0, 1318px 868px #11ABB0, 1295px 489px #11ABB0, 1626px 379px #11ABB0, 1925px 579px #11ABB0, 421px 1753px #11ABB0, 1814px 1534px #11ABB0, 921px 1058px #11ABB0, 1332px 949px #11ABB0, 400px 1802px #11ABB0, 944px 1936px #11ABB0, 531px 70px #11ABB0, 1651px 1362px #11ABB0, 1px 1353px #11ABB0, 96px 1327px #11ABB0, 169px 1458px #11ABB0, 595px 1887px #11ABB0, 78px 370px #11ABB0, 130px 1754px #11ABB0, 1060px 1224px #11ABB0, 1111px 386px #11ABB0, 1200px 1273px #11ABB0, 1126px 1801px #11ABB0, 156px 994px #11ABB0, 1753px 1006px #11ABB0, 115px 1490px #11ABB0, 1152px 1326px #11ABB0, 83px 1869px #11ABB0, 85px 764px #11ABB0, 1295px 714px #11ABB0, 199px 1179px #11ABB0, 1794px 706px #11ABB0, 64px 713px #11ABB0, 1491px 483px #11ABB0, 25px 1335px #11ABB0, 1053px 439px #11ABB0, 352px 1348px #11ABB0, 1055px 1464px #11ABB0, 1738px 1967px #11ABB0, 1821px 442px #11ABB0, 1067px 1218px #11ABB0, 619px 50px #11ABB0, 530px 405px #11ABB0, 1494px 1545px #11ABB0, 1868px 820px #11ABB0, 173px 606px #11ABB0, 88px 417px #11ABB0, 916px 223px #11ABB0, 1906px 577px #11ABB0, 1783px 280px #11ABB0, 1672px 1272px #11ABB0, 1388px 1133px #11ABB0, 353px 1795px #11ABB0, 249px 1027px #11ABB0, 1327px 794px #11ABB0, 1213px 1334px #11ABB0, 1136px 1947px #11ABB0, 1526px 1957px #11ABB0, 482px 1474px #11ABB0, 1229px 657px #11ABB0, 827px 191px #11ABB0, 301px 1550px #11ABB0, 691px 1111px #11ABB0, 1458px 624px #11ABB0, 1802px 892px #11ABB0, 535px 1496px #11ABB0, 1329px 1910px #11ABB0, 1438px 559px #11ABB0, 247px 935px #11ABB0, 699px 274px #11ABB0, 1544px 878px #11ABB0, 389px 1681px #11ABB0, 1882px 324px #11ABB0, 1951px 629px #11ABB0, 318px 1249px #11ABB0, 615px 1307px #11ABB0, 58px 779px #11ABB0, 873px 1643px #11ABB0, 861px 1829px #11ABB0, 1704px 1658px #11ABB0, 111px 17px #11ABB0, 23px 190px #11ABB0, 158px 625px #11ABB0, 1334px 1875px #11ABB0, 362px 1648px #11ABB0, 42px 1071px #11ABB0, 7px 71px #11ABB0, 555px 1959px #11ABB0, 979px 819px #11ABB0, 1840px 826px #11ABB0, 1197px 451px #11ABB0, 1078px 1621px #11ABB0, 977px 298px #11ABB0, 834px 1546px #11ABB0, 1530px 1768px #11ABB0, 1653px 516px #11ABB0, 367px 658px #11ABB0, 1648px 1998px #11ABB0, 829px 1593px #11ABB0, 1230px 1543px #11ABB0, 161px 460px #11ABB0, 1095px 88px #11ABB0, 1445px 1428px #11ABB0, 295px 1877px #11ABB0, 1871px 1960px #11ABB0, 1477px 1596px #11ABB0, 794px 1049px #11ABB0, 449px 311px #11ABB0, 367px 104px #11ABB0, 742px 987px #11ABB0, 1980px 842px #11ABB0, 795px 1782px #11ABB0, 1211px 769px #11ABB0, 396px 181px #11ABB0, 9px 1028px #11ABB0, 1954px 1488px #11ABB0, 1663px 40px #11ABB0, 370px 1620px #11ABB0, 77px 1424px #11ABB0, 1313px 1388px #11ABB0, 833px 1885px #11ABB0, 1322px 1781px #11ABB0, 1056px 1287px #11ABB0, 1371px 1662px #11ABB0, 298px 1834px #11ABB0, 950px 1495px #11ABB0, 1613px 1092px #11ABB0, 1080px 333px #11ABB0, 1838px 923px #11ABB0, 402px 1777px #11ABB0, 1231px 198px #11ABB0, 1926px 1085px #11ABB0, 536px 1878px #11ABB0, 1883px 657px #11ABB0, 589px 1050px #11ABB0, 163px 876px #11ABB0, 961px 1967px #11ABB0, 1583px 1616px #11ABB0, 1658px 1454px #11ABB0, 674px 1944px #11ABB0, 894px 62px #11ABB0, 1442px 1454px #11ABB0, 660px 1417px #11ABB0, 1897px 268px #11ABB0, 1032px 1440px #11ABB0, 1952px 1998px #11ABB0, 629px 1392px #11ABB0, 360px 1605px #11ABB0, 1676px 16px #11ABB0, 1667px 1172px #11ABB0, 1876px 710px #11ABB0, 1800px 1761px #11ABB0, 105px 1165px #11ABB0, 1490px 234px #11ABB0, 87px 1139px #11ABB0, 1220px 1181px #11ABB0, 36px 751px #11ABB0, 1404px 762px #11ABB0, 1042px 1655px #11ABB0, 1161px 817px #11ABB0, 28px 572px #11ABB0, 63px 340px #11ABB0, 196px 108px #11ABB0, 463px 1291px #11ABB0, 417px 392px #11ABB0, 907px 1030px #11ABB0, 667px 756px #11ABB0, 80px 568px #11ABB0, 453px 1172px #11ABB0, 1836px 1841px #11ABB0, 1068px 511px #11ABB0, 1929px 1616px #11ABB0, 915px 599px #11ABB0, 996px 258px #11ABB0, 540px 1532px #11ABB0, 986px 430px #11ABB0, 542px 332px #11ABB0, 1881px 1045px #11ABB0, 1496px 918px #11ABB0, 1891px 87px #11ABB0, 876px 529px #11ABB0, 959px 657px #11ABB0, 1243px 231px #11ABB0, 978px 776px #11ABB0, 309px 1192px #11ABB0, 871px 1975px #11ABB0, 1225px 1072px #11ABB0, 632px 763px #11ABB0, 1544px 640px #11ABB0, 1691px 525px #11ABB0, 635px 565px #11ABB0, 1347px 470px #11ABB0, 435px 1232px #11ABB0, 1065px 639px #11ABB0, 72px 1721px #11ABB0, 1173px 998px #11ABB0, 322px 271px #11ABB0, 831px 1931px #11ABB0, 259px 1933px #11ABB0, 868px 826px #11ABB0, 1816px 1734px #11ABB0, 1777px 811px #11ABB0, 592px 1000px #11ABB0, 1332px 314px #11ABB0, 1203px 537px #11ABB0, 532px 29px #11ABB0, 556px 1840px #11ABB0, 1496px 503px #11ABB0, 362px 365px #11ABB0, 800px 712px #11ABB0, 1053px 1386px #11ABB0, 1461px 254px #11ABB0, 1392px 1856px #11ABB0, 1931px 849px #11ABB0, 1837px 1161px #11ABB0, 1052px 537px #11ABB0, 175px 1048px #11ABB0, 479px 230px #11ABB0, 247px 539px #11ABB0, 1645px 935px #11ABB0, 1709px 377px #11ABB0, 1633px 1722px #11ABB0, 1840px 856px #11ABB0, 13px 1386px #11ABB0, 176px 930px #11ABB0, 1170px 174px #11ABB0, 44px 670px #11ABB0, 738px 922px #11ABB0, 434px 1533px #11ABB0, 784px 435px #11ABB0, 291px 1977px #11ABB0, 1032px 1081px #11ABB0, 1743px 933px #11ABB0, 1909px 1975px #11ABB0, 1876px 27px #11ABB0, 981px 726px #11ABB0, 421px 1231px #11ABB0, 165px 366px #11ABB0, 1554px 741px #11ABB0, 1612px 1420px #11ABB0, 991px 1612px #11ABB0, 731px 94px #11ABB0, 1381px 1330px #11ABB0, 1654px 1863px #11ABB0, 551px 1433px #11ABB0, 1719px 964px #11ABB0, 1769px 885px #11ABB0, 1086px 1594px #11ABB0, 541px 530px #11ABB0, 175px 497px #11ABB0, 1473px 338px #11ABB0, 1255px 1057px #11ABB0, 1022px 1754px #11ABB0, 1826px 386px #11ABB0, 1382px 1027px #11ABB0, 1210px 967px #11ABB0, 86px 553px #11ABB0, 1977px 1857px #11ABB0, 777px 1916px #11ABB0, 555px 1502px #11ABB0, 1915px 1089px #11ABB0, 785px 1928px #11ABB0, 1099px 642px #11ABB0, 792px 1749px #11ABB0, 739px 484px #11ABB0, 72px 236px #11ABB0, 1146px 1903px #11ABB0, 1896px 238px #11ABB0, 1643px 1700px #11ABB0, 114px 370px #11ABB0, 1368px 1580px #11ABB0, 1881px 470px #11ABB0, 1190px 1956px #11ABB0, 1211px 1319px #11ABB0, 427px 283px #11ABB0, 1045px 238px #11ABB0, 1696px 430px #11ABB0, 1088px 944px #11ABB0, 636px 1657px #11ABB0, 1550px 3px #11ABB0, 410px 1845px #11ABB0, 1318px 181px #11ABB0, 144px 77px #11ABB0, 926px 162px #11ABB0, 1984px 1501px #11ABB0, 1681px 1502px #11ABB0, 121px 1563px #11ABB0, 1537px 949px #11ABB0, 924px 240px #11ABB0, 856px 243px #11ABB0, 662px 1854px #11ABB0, 1149px 15px #11ABB0, 1670px 290px #11ABB0, 1842px 286px #11ABB0, 1033px 506px #11ABB0, 594px 532px #11ABB0, 1029px 883px #11ABB0, 527px 329px #11ABB0, 107px 1077px #11ABB0, 1511px 1316px #11ABB0, 295px 920px #11ABB0, 1741px 1064px #11ABB0, 1401px 1651px #11ABB0, 604px 267px #11ABB0, 1484px 1226px #11ABB0, 1028px 1512px #11ABB0, 813px 1234px #11ABB0, 908px 1986px #11ABB0, 416px 1973px #11ABB0, 608px 643px #11ABB0, 606px 413px #11ABB0, 1068px 168px #11ABB0, 1164px 955px #11ABB0, 1935px 1330px #11ABB0, 1821px 1804px #11ABB0, 1861px 617px #11ABB0, 782px 306px #11ABB0, 176px 212px #11ABB0, 1622px 1052px #11ABB0, 1330px 607px #11ABB0, 601px 473px #11ABB0, 580px 1497px #11ABB0, 58px 1024px #11ABB0, 1258px 1724px #11ABB0, 1630px 580px #11ABB0, 1805px 1158px #11ABB0, 815px 928px #11ABB0, 1958px 106px #11ABB0, 1587px 899px #11ABB0, 837px 1460px #11ABB0, 508px 927px #11ABB0, 152px 679px #11ABB0, 656px 609px #11ABB0, 349px 493px #11ABB0, 1027px 1725px #11ABB0, 1860px 1985px #11ABB0, 609px 1341px #11ABB0, 148px 139px #11ABB0, 184px 14px #11ABB0, 567px 666px #11ABB0, 1241px 209px #11ABB0, 885px 1036px #11ABB0, 1054px 1642px #11ABB0, 909px 1383px #11ABB0, 453px 1250px #11ABB0, 1609px 441px #11ABB0, 1139px 650px #11ABB0, 508px 582px #11ABB0, 1991px 230px #11ABB0, 1028px 1059px #11ABB0, 628px 1631px #11ABB0, 587px 540px #11ABB0, 695px 720px #11ABB0, 1692px 1361px #11ABB0, 1942px 856px #11ABB0, 1775px 1451px #11ABB0, 503px 1072px #11ABB0, 890px 1788px #11ABB0, 1140px 1553px #11ABB0, 720px 1826px #11ABB0, 1340px 75px #11ABB0, 1070px 1295px #11ABB0, 1114px 913px #11ABB0, 1454px 1680px #11ABB0, 1453px 1903px #11ABB0, 831px 1089px #11ABB0, 1915px 1338px #11ABB0, 1179px 40px #11ABB0, 657px 236px #11ABB0, 210px 739px #11ABB0, 1789px 515px #11ABB0, 256px 1132px #11ABB0, 164px 1659px #11ABB0, 165px 1895px #11ABB0, 8px 227px #11ABB0, 1408px 618px #11ABB0, 1359px 1552px #11ABB0, 1740px 1698px #11ABB0, 2000px 1337px #11ABB0, 1130px 1668px #11ABB0, 713px 1106px #11ABB0, 701px 533px #11ABB0, 81px 1470px #11ABB0, 623px 693px #11ABB0, 895px 1984px #11ABB0, 462px 262px #11ABB0, 75px 808px #11ABB0, 1972px 510px #11ABB0, 1719px 1805px #11ABB0, 30px 426px #11ABB0, 546px 398px #11ABB0, 1781px 217px #11ABB0, 821px 1497px #11ABB0, 1124px 1970px #11ABB0, 791px 705px #11ABB0, 974px 1020px #11ABB0, 962px 1919px #11ABB0, 1622px 66px #11ABB0, 1734px 1700px #11ABB0, 42px 261px #11ABB0, 1162px 1914px #11ABB0, 1781px 1114px #11ABB0, 845px 1610px #11ABB0, 748px 608px #11ABB0, 1345px 698px #11ABB0, 104px 439px #11ABB0, 464px 1623px #11ABB0, 1091px 764px #11ABB0, 912px 364px #11ABB0, 1834px 605px #11ABB0, 1393px 138px #11ABB0, 1816px 1387px #11ABB0, 437px 1853px #11ABB0, 1711px 1695px #11ABB0, 493px 1724px #11ABB0, 1777px 934px #11ABB0, 1424px 1212px #11ABB0, 121px 297px #11ABB0, 730px 1850px #11ABB0, 1167px 79px #11ABB0, 497px 744px #11ABB0, 1743px 159px #11ABB0, 50px 347px #11ABB0, 1527px 1420px #11ABB0, 913px 351px #11ABB0, 1735px 924px #11ABB0, 69px 453px #11ABB0, 272px 1866px #11ABB0, 704px 1967px #11ABB0, 1648px 1808px #11ABB0, 635px 1794px #11ABB0, 381px 257px #11ABB0, 1897px 1041px #11ABB0, 1372px 502px #11ABB0, 1677px 1956px #11ABB0, 1757px 35px #11ABB0, 1072px 1331px #11ABB0, 1928px 878px #11ABB0, 133px 1179px #11ABB0, 1594px 780px #11ABB0, 1949px 1601px #11ABB0, 1551px 83px #11ABB0, 974px 735px #11ABB0, 924px 1033px #11ABB0, 1123px 1145px #11ABB0, 1297px 1512px #11ABB0, 1120px 1565px #11ABB0, 498px 16px #11ABB0, 1452px 914px #11ABB0, 1947px 1302px #11ABB0, 386px 682px #11ABB0, 1902px 203px #11ABB0, 1166px 1820px #11ABB0, 1706px 792px #11ABB0, 1957px 333px #11ABB0, 211px 1272px #11ABB0, 122px 314px #11ABB0, 155px 1532px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0;
  animation: animStar 40s linear infinite;
}

#stars:after {
  content: " ";
  top: 2000px;
  width: 1.6px;
  height: 1.6px;
  background: transparent;
  box-shadow: 1151px 1438px #11ABB0, 1151px 1438px #11ABB0, 1567px 911px #11ABB0, 695px 1519px #11ABB0, 525px 379px #11ABB0, 1267px 902px #11ABB0, 1707px 870px #11ABB0, 24px 1887px #11ABB0, 1118px 284px #11ABB0, 1596px 349px #11ABB0, 579px 1388px #11ABB0, 1635px 1723px #11ABB0, 560px 339px #11ABB0, 1598px 1198px #11ABB0, 1813px 1824px #11ABB0, 86px 260px #11ABB0, 1938px 1931px #11ABB0, 587px 284px #11ABB0, 609px 604px #11ABB0, 869px 1829px #11ABB0, 1441px 670px #11ABB0, 1616px 1255px #11ABB0, 1099px 755px #11ABB0, 1793px 1745px #11ABB0, 100px 814px #11ABB0, 1659px 200px #11ABB0, 375px 1471px #11ABB0, 33px 421px #11ABB0, 1217px 1265px #11ABB0, 1166px 1528px #11ABB0, 270px 1595px #11ABB0, 1655px 1691px #11ABB0, 1179px 1403px #11ABB0, 979px 877px #11ABB0, 836px 292px #11ABB0, 358px 1967px #11ABB0, 1628px 472px #11ABB0, 138px 503px #11ABB0, 129px 1137px #11ABB0, 877px 923px #11ABB0, 169px 1211px #11ABB0, 156px 905px #11ABB0, 1180px 485px #11ABB0, 1989px 600px #11ABB0, 1228px 1411px #11ABB0, 949px 1424px #11ABB0, 1259px 1158px #11ABB0, 1254px 648px #11ABB0, 1542px 474px #11ABB0, 262px 446px #11ABB0, 1858px 1200px #11ABB0, 818px 1204px #11ABB0, 1099px 1301px #11ABB0, 1791px 1368px #11ABB0, 1926px 1982px #11ABB0, 1881px 851px #11ABB0, 259px 746px #11ABB0, 1500px 261px #11ABB0, 1741px 1979px #11ABB0, 982px 695px #11ABB0, 521px 1406px #11ABB0, 884px 431px #11ABB0, 491px 1725px #11ABB0, 756px 233px #11ABB0, 381px 1214px #11ABB0, 1957px 146px #11ABB0, 1329px 1984px #11ABB0, 162px 1595px #11ABB0, 749px 1961px #11ABB0, 846px 1744px #11ABB0, 1881px 835px #11ABB0, 578px 1557px #11ABB0, 655px 427px #11ABB0, 1707px 466px #11ABB0, 1469px 110px #11ABB0, 371px 523px #11ABB0, 942px 1659px #11ABB0, 1147px 1169px #11ABB0, 381px 302px #11ABB0, 1054px 1156px #11ABB0, 100px 1453px #11ABB0, 803px 33px #11ABB0, 221px 1794px #11ABB0, 57px 194px #11ABB0, 1759px 1237px #11ABB0, 291px 834px #11ABB0, 1242px 714px #11ABB0, 1724px 1808px #11ABB0, 1736px 198px #11ABB0, 137px 735px #11ABB0, 1639px 757px #11ABB0, 453px 195px #11ABB0, 1682px 1104px #11ABB0, 505px 466px #11ABB0, 1430px 430px #11ABB0, 1404px 1258px #11ABB0, 1106px 1426px #11ABB0, 645px 1497px #11ABB0, 970px 1521px #11ABB0, 305px 1190px #11ABB0, 297px 1724px #11ABB0, 1263px 245px #11ABB0, 1874px 70px #11ABB0, 82px 1662px #FFF, 1129px 807px #FFF, 1159px 180px #FFF, 6px 1403px #FFF, 1288px 1830px #FFF, 700px 1637px #FFF, 1050px 1025px #FFF, 184px 1451px #FFF, 1028px 1379px #FFF, 1666px 1496px #FFF, 1810px 1820px #FFF, 320px 45px #FFF, 174px 1606px #FFF, 1151px 629px #FFF, 952px 1317px #FFF, 328px 1399px #FFF, 502px 1535px #FFF, 302px 729px #FFF, 1647px 278px #FFF, 1412px 1872px #FFF, 842px 1595px #FFF, 1481px 429px #FFF, 1115px 946px #FFF, 406px 1287px #FFF, 61px 996px #FFF, 260px 848px #FFF, 806px 466px #FFF, 852px 1728px #FFF, 1045px 342px #FFF, 1024px 1058px #FFF, 647px 955px #FFF, 1895px 1045px #FFF, 1861px 1350px #FFF, 677px 993px #FFF, 1812px 1282px #FFF, 268px 1759px #FFF, 1780px 1596px #FFF, 1525px 1205px #FFF, 100px 1799px #FFF, 1742px 1926px #FFF, 1226px 703px #FFF, 495px 278px #FFF, 511px 1499px #FFF, 997px 1614px #FFF, 1416px 771px #FFF, 1269px 1731px #FFF, 843px 1107px #FFF, 1603px 1111px #FFF, 1721px 925px #FFF, 1810px 1796px #FFF, 178px 77px #FFF, 1193px 1695px #FFF, 1763px 400px #FFF, 1762px 255px #FFF, 1097px 1704px #FFF, 143px 917px #FFF, 39px 933px #FFF, 435px 1836px #FFF, 1623px 727px #FFF, 622px 75px #FFF, 1996px 1819px #FFF, 1704px 429px #FFF, 963px 1077px #FFF, 1498px 159px #FFF, 699px 1962px #FFF, 378px 1436px #FFF, 204px 648px #FFF, 1899px 1730px #FFF, 1115px 1582px #FFF, 1745px 1156px #FFF, 1076px 1627px #FFF, 385px 1469px #FFF, 1992px 1286px #FFF, 1994px 1821px #FFF, 587px 1115px #FFF, 1187px 363px #FFF, 168px 1198px #FFF, 1332px 937px #FFF, 486px 1035px #FFF, 619px 1957px #FFF, 1494px 1012px #FFF, 670px 1260px #FFF, 774px 1156px #FFF, 594px 1080px #FFF, 1548px 1175px #FFF, 139px 1775px #FFF, 1308px 1301px #FFF, 846px 106px #FFF, 1412px 1215px #FFF, 1443px 1899px #FFF, 1725px 1095px #FFF, 575px 1946px #FFF, 1027px 486px #FFF, 881px 1176px #FFF, 792px 1365px #FFF, 1475px 1902px #FFF, 1485px 1693px #FFF, 109px 1536px #FFF, 183px 359px #FFF, 769px 1857px #FFF, 1147px 1288px #FFF, 482px 1463px #FFF, 9px 1382px #FFF, 848px 525px #FFF, 1334px 1003px #FFF, 1986px 1572px #FFF, 306px 1639px #FFF, 1206px 1289px #FFF, 1338px 923px #FFF, 690px 88px #FFF, 402px 1433px #FFF, 1507px 1624px #FFF, 1076px 617px #FFF, 57px 686px #FFF, 851px 1384px #FFF, 1791px 1460px #FFF, 1854px 163px #FFF, 767px 1944px #FFF, 1152px 94px #FFF, 1722px 1052px #FFF, 1956px 1814px #FFF, 201px 1205px #FFF, 1695px 1301px #FFF, 623px 442px #FFF, 49px 1115px #FFF, 1508px 1373px #FFF, 1301px 821px #FFF, 1402px 1410px #FFF, 1740px 1213px #FFF, 1215px 1023px #FFF, 459px 1915px #FFF, 468px 901px #FFF, 1363px 1634px #FFF, 363px 859px #FFF, 570px 1669px #FFF, 937px 1664px #FFF, 751px 1657px #FFF, 700px 504px #FFF, 652px 182px #FFF, 550px 1735px #FFF, 720px 392px #FFF, 1318px 868px #FFF, 1295px 489px #FFF, 1626px 379px #FFF, 1925px 579px #FFF, 421px 1753px #FFF, 1814px 1534px #FFF, 921px 1058px #FFF, 1332px 949px #FFF, 400px 1802px #FFF, 944px 1936px #FFF, 531px 70px #FFF, 1651px 1362px #FFF, 1px 1353px #FFF, 96px 1327px #FFF, 169px 1458px #FFF, 595px 1887px #FFF, 78px 370px #FFF, 130px 1754px #FFF, 1060px 1224px #FFF, 1111px 386px #FFF, 1200px 1273px #FFF, 1126px 1801px #FFF, 156px 994px #FFF, 1753px 1006px #FFF, 115px 1490px #FFF, 1152px 1326px #FFF, 83px 1869px #FFF, 85px 764px #FFF, 1295px 714px #FFF, 199px 1179px #FFF, 1794px 706px #FFF, 64px 713px #FFF, 1491px 483px #FFF, 25px 1335px #FFF, 1053px 439px #FFF, 352px 1348px #FFF, 1055px 1464px #FFF, 1738px 1967px #FFF, 1821px 442px #FFF, 1067px 1218px #FFF, 619px 50px #FFF, 530px 405px #FFF, 1494px 1545px #FFF, 1868px 820px #FFF, 173px 606px #FFF, 88px 417px #FFF, 916px 223px #FFF, 1906px 577px #FFF, 1783px 280px #FFF, 1672px 1272px #FFF, 1388px 1133px #FFF, 353px 1795px #FFF, 249px 1027px #FFF, 1327px 794px #FFF, 1213px 1334px #FFF, 1136px 1947px #FFF, 1526px 1957px #FFF, 482px 1474px #FFF, 1229px 657px #FFF, 827px 191px #FFF, 301px 1550px #FFF, 691px 1111px #FFF, 1458px 624px #FFF, 1802px 892px #FFF, 535px 1496px #FFF, 1329px 1910px #FFF, 1438px 559px #FFF, 247px 935px #FFF, 699px 274px #FFF, 1544px 878px #FFF, 389px 1681px #FFF, 1882px 324px #FFF, 1951px 629px #FFF, 318px 1249px #FFF, 615px 1307px #FFF, 58px 779px #FFF, 873px 1643px #FFF, 861px 1829px #FFF, 1704px 1658px #FFF, 111px 17px #FFF, 23px 190px #FFF, 158px 625px #FFF, 1334px 1875px #FFF, 362px 1648px #FFF, 42px 1071px #FFF, 7px 71px #FFF, 555px 1959px #FFF, 979px 819px #FFF, 1840px 826px #FFF, 1197px 451px #FFF, 1078px 1621px #FFF, 977px 298px #FFF, 834px 1546px #FFF, 1530px 1768px #FFF, 1653px 516px #FFF, 367px 658px #FFF, 1648px 1998px #FFF, 829px 1593px #FFF, 1230px 1543px #FFF, 161px 460px #FFF, 1095px 88px #FFF, 1445px 1428px #FFF, 295px 1877px #FFF, 1871px 1960px #FFF, 1477px 1596px #FFF, 794px 1049px #FFF, 449px 311px #FFF, 367px 104px #FFF, 742px 987px #FFF, 1980px 842px #FFF, 795px 1782px #FFF, 1211px 769px #FFF, 396px 181px #FFF, 9px 1028px #FFF, 1954px 1488px #FFF, 1663px 40px #FFF, 370px 1620px #FFF, 77px 1424px #FFF, 1313px 1388px #FFF, 833px 1885px #FFF, 1322px 1781px #FFF, 1056px 1287px #FFF, 1371px 1662px #FFF, 298px 1834px #FFF, 950px 1495px #FFF, 1613px 1092px #FFF, 1080px 333px #FFF, 1838px 923px #FFF, 402px 1777px #FFF, 1231px 198px #FFF, 1926px 1085px #FFF, 536px 1878px #FFF, 1883px 657px #FFF, 589px 1050px #FFF, 163px 876px #FFF, 961px 1967px #FFF, 1583px 1616px #FFF, 1658px 1454px #FFF, 674px 1944px #FFF, 894px 62px #FFF, 1442px 1454px #FFF, 660px 1417px #FFF, 1897px 268px #FFF, 1032px 1440px #FFF, 1952px 1998px #FFF, 629px 1392px #FFF, 360px 1605px #FFF, 1676px 16px #FFF, 1667px 1172px #FFF, 1876px 710px #FFF, 1800px 1761px #FFF, 105px 1165px #FFF, 1490px 234px #FFF, 87px 1139px #FFF, 1220px 1181px #FFF, 36px 751px #FFF, 1404px 762px #FFF, 1042px 1655px #FFF, 1161px 817px #FFF, 28px 572px #FFF, 63px 340px #FFF, 196px 108px #FFF, 463px 1291px #FFF, 417px 392px #FFF, 907px 1030px #FFF, 667px 756px #FFF, 80px 568px #FFF, 453px 1172px #FFF, 1836px 1841px #FFF, 1068px 511px #FFF, 1929px 1616px #FFF, 915px 599px #FFF, 996px 258px #FFF, 540px 1532px #FFF, 986px 430px #FFF, 542px 332px #FFF, 1881px 1045px #FFF, 1496px 918px #FFF, 1891px 87px #FFF, 876px 529px #FFF, 959px 657px #FFF, 1243px 231px #FFF, 978px 776px #FFF, 309px 1192px #FFF, 871px 1975px #FFF, 1225px 1072px #FFF, 632px 763px #FFF, 1544px 640px #FFF, 1691px 525px #FFF, 635px 565px #FFF, 1347px 470px #FFF, 435px 1232px #FFF, 1065px 639px #FFF, 72px 1721px #FFF, 1173px 998px #FFF, 322px 271px #FFF, 831px 1931px #FFF, 259px 1933px #FFF, 868px 826px #FFF, 1816px 1734px #FFF, 1777px 811px #FFF, 592px 1000px #FFF, 1332px 314px #FFF, 1203px 537px #FFF, 532px 29px #FFF, 556px 1840px #FFF, 1496px 503px #FFF, 362px 365px #FFF, 800px 712px #FFF, 1053px 1386px #FFF, 1461px 254px #FFF, 1392px 1856px #FFF, 1931px 849px #FFF, 1837px 1161px #FFF, 1052px 537px #FFF, 175px 1048px #FFF, 479px 230px #FFF, 247px 539px #FFF, 1645px 935px #FFF, 1709px 377px #FFF, 1633px 1722px #FFF, 1840px 856px #FFF, 13px 1386px #FFF, 176px 930px #FFF, 1170px 174px #FFF, 44px 670px #FFF, 738px 922px #FFF, 434px 1533px #FFF, 784px 435px #FFF, 291px 1977px #FFF, 1032px 1081px #FFF, 1743px 933px #FFF, 1909px 1975px #FFF, 1876px 27px #FFF, 981px 726px #FFF, 421px 1231px #FFF, 165px 366px #FFF, 1554px 741px #FFF, 1612px 1420px #FFF, 991px 1612px #FFF, 731px 94px #FFF, 1381px 1330px #FFF, 1654px 1863px #FFF, 551px 1433px #FFF, 1719px 964px #FFF, 1769px 885px #FFF, 1086px 1594px #FFF, 541px 530px #FFF, 175px 497px #FFF, 1473px 338px #FFF, 1255px 1057px #FFF, 1022px 1754px #FFF, 1826px 386px #FFF, 1382px 1027px #FFF, 1210px 967px #FFF, 86px 553px #FFF, 1977px 1857px #FFF, 777px 1916px #FFF, 555px 1502px #FFF, 1915px 1089px #FFF, 785px 1928px #FFF, 1099px 642px #FFF, 792px 1749px #FFF, 739px 484px #FFF, 72px 236px #FFF, 1146px 1903px #FFF, 1896px 238px #FFF, 1643px 1700px #FFF, 114px 370px #FFF, 1368px 1580px #FFF, 1881px 470px #FFF, 1190px 1956px #FFF, 1211px 1319px #FFF, 427px 283px #FFF, 1045px 238px #FFF, 1696px 430px #FFF, 1088px 944px #FFF, 636px 1657px #FFF, 1550px 3px #FFF, 410px 1845px #FFF, 1318px 181px #FFF, 144px 77px #FFF, 926px 162px #FFF, 1984px 1501px #FFF, 1681px 1502px #FFF, 121px 1563px #FFF, 1537px 949px #FFF, 924px 240px #FFF, 856px 243px #FFF, 662px 1854px #FFF, 1149px 15px #FFF, 1670px 290px #FFF, 1842px 286px #FFF, 1033px 506px #FFF, 594px 532px #FFF, 1029px 883px #FFF, 527px 329px #FFF, 107px 1077px #FFF, 1511px 1316px #FFF, 295px 920px #FFF, 1741px 1064px #FFF, 1401px 1651px #FFF, 604px 267px #FFF, 1484px 1226px #FFF, 1028px 1512px #FFF, 813px 1234px #FFF, 908px 1986px #FFF, 416px 1973px #FFF, 608px 643px #FFF, 606px 413px #FFF, 1068px 168px #FFF, 1164px 955px #FFF, 1935px 1330px #FFF, 1821px 1804px #FFF, 1861px 617px #FFF, 782px 306px #FFF, 176px 212px #FFF, 1622px 1052px #FFF, 1330px 607px #FFF, 601px 473px #FFF, 580px 1497px #FFF, 58px 1024px #FFF, 1258px 1724px #FFF, 1630px 580px #FFF, 1805px 1158px #FFF, 815px 928px #FFF, 1958px 106px #FFF, 1587px 899px #FFF, 837px 1460px #FFF, 508px 927px #FFF, 152px 679px #FFF, 656px 609px #FFF, 349px 493px #FFF, 1027px 1725px #FFF, 1860px 1985px #FFF, 609px 1341px #FFF, 148px 139px #FFF, 184px 14px #FFF, 567px 666px #FFF, 1241px 209px #FFF, 885px 1036px #FFF, 1054px 1642px #FFF, 909px 1383px #FFF, 453px 1250px #FFF, 1609px 441px #FFF, 1139px 650px #FFF, 508px 582px #FFF, 1991px 230px #FFF, 1028px 1059px #FFF, 628px 1631px #FFF, 587px 540px #FFF, 695px 720px #FFF, 1692px 1361px #FFF, 1942px 856px #FFF, 1775px 1451px #FFF, 503px 1072px #FFF, 890px 1788px #FFF, 1140px 1553px #FFF, 720px 1826px #FFF, 1340px 75px #FFF, 1070px 1295px #FFF, 1114px 913px #FFF, 1454px 1680px #FFF, 1453px 1903px #FFF, 831px 1089px #FFF, 1915px 1338px #FFF, 1179px 40px #FFF, 657px 236px #FFF, 210px 739px #FFF, 1789px 515px #FFF, 256px 1132px #FFF, 164px 1659px #FFF, 165px 1895px #FFF, 8px 227px #FFF, 1408px 618px #FFF, 1359px 1552px #FFF, 1740px 1698px #FFF, 2000px 1337px #FFF, 1130px 1668px #FFF, 713px 1106px #FFF, 701px 533px #FFF, 81px 1470px #FFF, 623px 693px #FFF, 895px 1984px #FFF, 462px 262px #FFF, 75px 808px #FFF, 1972px 510px #FFF, 1719px 1805px #FFF, 30px 426px #FFF, 546px 398px #FFF, 1781px 217px #FFF, 821px 1497px #FFF, 1124px 1970px #FFF, 791px 705px #FFF, 974px 1020px #FFF, 962px 1919px #FFF, 1622px 66px #FFF, 1734px 1700px #FFF, 42px 261px #FFF, 1162px 1914px #FFF, 1781px 1114px #FFF, 845px 1610px #FFF, 748px 608px #FFF, 1345px 698px #FFF, 104px 439px #FFF, 464px 1623px #FFF, 1091px 764px #FFF, 912px 364px #FFF, 1834px 605px #FFF, 1393px 138px #FFF, 1816px 1387px #FFF, 437px 1853px #FFF, 1711px 1695px #FFF, 493px 1724px #FFF, 1777px 934px #FFF, 1424px 1212px #FFF, 121px 297px #FFF, 730px 1850px #FFF, 1167px 79px #FFF, 497px 744px #FFF, 1743px 159px #FFF, 50px 347px #FFF, 1527px 1420px #FFF, 913px 351px #FFF, 1735px 924px #FFF, 69px 453px #FFF, 272px 1866px #FFF, 704px 1967px #FFF, 1648px 1808px #FFF, 635px 1794px #FFF, 381px 257px #FFF, 1897px 1041px #FFF, 1372px 502px #FFF, 1677px 1956px #FFF, 1757px 35px #FFF, 1072px 1331px #FFF, 1928px 878px #FFF, 133px 1179px #FFF, 1594px 780px #FFF, 1949px 1601px #FFF, 1551px 83px #FFF, 974px 735px #FFF, 924px 1033px #FFF, 1123px 1145px #FFF, 1297px 1512px #FFF, 1120px 1565px #FFF, 498px 16px #FFF, 1452px 914px #FFF, 1947px 1302px #FFF, 386px 682px #FFF, 1902px 203px #FFF, 1166px 1820px #FFF, 1706px 792px #FFF, 1957px 333px #FFF, 211px 1272px #FFF, 122px 314px #FFF, 155px 1532px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 785px 1075px #FFF, 897px 443px #FFF, 567px 1702px #FFF, 1546px 955px #FFF, 1977px 833px #FFF, 860px 1086px #FFF, 1379px 1826px #FFF, 1820px 80px #FFF, 1935px 1178px #FFF, 1552px 928px #FFF, 655px 1977px #FFF, 788px 48px #FFF, 745px 1873px #FFF, 201px 445px #FFF, 1288px 225px #FFF, 1002px 1327px #FFF, 585px 897px #FFF, 1714px 327px #FFF, 580px 689px #FFF, 983px 1575px #FFF, 1019px 1168px #FFF, 50px 1849px #FFF, 599px 1387px #FFF, 1605px 1148px #FFF, 467px 185px #FFF, 1168px 897px #FFF, 780px 1123px #FFF, 1127px 254px #FFF, 1607px 1132px #FFF, 1738px 754px #FFF, 1706px 410px #FFF, 847px 1947px #FFF, 1699px 861px #FFF, 1805px 866px #FFF, 265px 1510px #FFF, 142px 1372px #FFF, 1692px 1499px #FFF, 753px 1478px #FFF, 1649px 517px #FFF, 306px 96px #FFF, 1027px 1096px #FFF, 1950px 219px #FFF, 1684px 1556px #FFF, 1488px 689px #FFF, 1301px 312px #FFF, 1704px 1968px #FFF, 261px 1211px #FFF, 1769px 70px #FFF, 199px 765px #FFF, 1269px 939px #FFF, 868px 700px #FFF, 1162px 1003px #FFF, 212px 538px #FFF, 274px 710px #FFF, 1090px 632px #FFF, 768px 303px #FFF, 558px 636px #FFF, 776px 496px #FFF, 749px 1821px #FFF, 1506px 1529px #FFF, 85px 651px #FFF, 1158px 1350px #FFF, 1099px 449px #FFF, 450px 145px #FFF, 834px 1362px #FFF, 1911px 1554px #FFF, 1581px 64px #FFF, 1333px 1781px #FFF, 1657px 1227px #FFF, 520px 1462px #FFF, 106px 1303px #FFF, 1414px 670px #FFF, 1681px 1818px #FFF, 1364px 1422px #FFF, 1168px 1992px #FFF, 1703px 1422px #FFF, 1523px 1589px #FFF, 1780px 1858px #FFF, 1772px 1842px #FFF, 1682px 506px #FFF, 1438px 835px #FFF, 293px 1981px #FFF, 193px 1171px #FFF, 802px 750px #FFF, 485px 1609px #FFF, 560px 1701px #FFF, 1213px 1436px #FFF, 518px 1374px #FFF, 846px 923px #FFF, 205px 399px #FFF, 1707px 1322px #FFF, 45px 1108px #FFF, 516px 453px #FFF, 1054px 204px #FFF, 978px 1522px #FFF, 642px 1615px #FFF, 1515px 1702px #FFF, 1532px 1831px #FFF, 485px 152px #FFF, 1412px 1031px #FFF, 1534px 1623px #FFF, 383px 1506px #FFF, 1622px 1087px #FFF, 734px 358px #FFF, 627px 1664px #FFF, 1190px 909px #FFF, 621px 10px #FFF, 496px 1078px #FFF, 983px 1228px #FFF, 38px 312px #FFF, 1036px 941px #FFF, 371px 1832px #FFF, 1160px 1824px #FFF, 1945px 812px #FFF, 592px 1682px #FFF, 450px 852px #FFF, 61px 181px #FFF, 1595px 1366px #FFF, 152px 1156px #FFF, 1254px 1375px #FFF, 819px 656px #FFF, 1305px 1103px #FFF, 1570px 1198px #FFF, 1788px 1863px #FFF, 1123px 1941px #FFF, 177px 1620px #FFF, 1866px 1968px #FFF, 1492px 1888px #FFF, 811px 490px #FFF, 18px 631px #FFF, 242px 1102px #FFF, 1369px 990px #FFF, 1565px 138px #FFF, 783px 1461px #FFF, 944px 86px #FFF, 559px 916px #FFF, 471px 1107px #FFF, 823px 583px #FFF, 529px 1148px #FFF, 1435px 316px #FFF, 430px 1279px #FFF, 434px 1649px #FFF, 104px 405px #FFF, 140px 1141px #FFF, 791px 151px #FFF, 1730px 1136px #FFF, 566px 1962px #FFF, 515px 975px #FFF, 1549px 19px #FFF, 650px 305px #FFF, 1414px 126px #FFF, 1093px 1243px #FFF, 1770px 128px #FFF, 1700px 1626px #FFF, 103px 1813px #FFF, 1273px 22px #FFF, 1650px 805px #FFF, 1931px 849px #FFF, 863px 886px #FFF, 588px 1818px #FFF, 749px 483px #FFF, 1454px 579px #FFF, 972px 623px #FFF, 818px 842px #FFF, 1475px 208px #FFF, 1104px 1304px #FFF, 1672px 603px #FFF, 1406px 922px #FFF, 653px 1047px #FFF, 814px 751px #FFF, 1326px 435px #FFF, 90px 813px #FFF, 1134px 598px #FFF, 595px 1056px #FFF, 382px 748px #FFF, 856px 1804px #FFF, 1442px 1309px #FFF, 1040px 157px #FFF, 1307px 1362px #FFF, 26px 1533px #FFF, 1681px 1321px #FFF, 1689px 1784px #FFF, 810px 887px #FFF, 1722px 338px #FFF, 1372px 1078px #FFF, 1055px 428px #FFF, 408px 494px #FFF, 910px 118px #FFF, 1233px 1771px #FFF, 1993px 165px #FFF, 1923px 593px #FFF, 595px 60px #FFF, 1035px 462px #FFF, 618px 987px #FFF, 1866px 690px #FFF, 812px 1060px #FFF, 1535px 692px #FFF, 798px 684px #FFF, 547px 746px #FFF, 448px 801px #FFF;
  animation: animStar 85s linear infinite;
}

#stars2:after {
  content: " ";
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 785px 1075px #FFF, 897px 443px #FFF, 567px 1702px #FFF, 1546px 955px #FFF, 1977px 833px #FFF, 860px 1086px #FFF, 1379px 1826px #FFF, 1820px 80px #FFF, 1935px 1178px #FFF, 1552px 928px #FFF, 655px 1977px #FFF, 788px 48px #FFF, 745px 1873px #FFF, 201px 445px #FFF, 1288px 225px #FFF, 1002px 1327px #FFF, 585px 897px #FFF, 1714px 327px #FFF, 580px 689px #FFF, 983px 1575px #FFF, 1019px 1168px #FFF, 50px 1849px #FFF, 599px 1387px #FFF, 1605px 1148px #FFF, 467px 185px #FFF, 1168px 897px #FFF, 780px 1123px #FFF, 1127px 254px #FFF, 1607px 1132px #FFF, 1738px 754px #FFF, 1706px 410px #FFF, 847px 1947px #FFF, 1699px 861px #FFF, 1805px 866px #FFF, 265px 1510px #FFF, 142px 1372px #FFF, 1692px 1499px #FFF, 753px 1478px #FFF, 1649px 517px #FFF, 306px 96px #FFF, 1027px 1096px #FFF, 1950px 219px #FFF, 1684px 1556px #FFF, 1488px 689px #FFF, 1301px 312px #FFF, 1704px 1968px #FFF, 261px 1211px #FFF, 1769px 70px #FFF, 199px 765px #FFF, 1269px 939px #FFF, 868px 700px #FFF, 1162px 1003px #FFF, 212px 538px #FFF, 274px 710px #FFF, 1090px 632px #FFF, 768px 303px #FFF, 558px 636px #FFF, 776px 496px #FFF, 749px 1821px #FFF, 1506px 1529px #FFF, 85px 651px #FFF, 1158px 1350px #FFF, 1099px 449px #FFF, 450px 145px #FFF, 834px 1362px #FFF, 1911px 1554px #FFF, 1581px 64px #FFF, 1333px 1781px #FFF, 1657px 1227px #FFF, 520px 1462px #FFF, 106px 1303px #FFF, 1414px 670px #FFF, 1681px 1818px #FFF, 1364px 1422px #FFF, 1168px 1992px #FFF, 1703px 1422px #FFF, 1523px 1589px #FFF, 1780px 1858px #FFF, 1772px 1842px #FFF, 1682px 506px #FFF, 1438px 835px #FFF, 293px 1981px #FFF, 193px 1171px #FFF, 802px 750px #FFF, 485px 1609px #FFF, 560px 1701px #FFF, 1213px 1436px #FFF, 518px 1374px #FFF, 846px 923px #FFF, 205px 399px #FFF, 1707px 1322px #FFF, 45px 1108px #FFF, 516px 453px #FFF, 1054px 204px #FFF, 978px 1522px #FFF, 642px 1615px #FFF, 1515px 1702px #FFF, 1532px 1831px #FFF, 485px 152px #FFF, 1412px 1031px #FFF, 1534px 1623px #FFF, 383px 1506px #FFF, 1622px 1087px #FFF, 734px 358px #FFF, 627px 1664px #FFF, 1190px 909px #FFF, 621px 10px #FFF, 496px 1078px #FFF, 983px 1228px #FFF, 38px 312px #FFF, 1036px 941px #FFF, 371px 1832px #FFF, 1160px 1824px #FFF, 1945px 812px #FFF, 592px 1682px #FFF, 450px 852px #FFF, 61px 181px #FFF, 1595px 1366px #FFF, 152px 1156px #FFF, 1254px 1375px #FFF, 819px 656px #FFF, 1305px 1103px #FFF, 1570px 1198px #FFF, 1788px 1863px #FFF, 1123px 1941px #FFF, 177px 1620px #FFF, 1866px 1968px #FFF, 1492px 1888px #FFF, 811px 490px #FFF, 18px 631px #FFF, 242px 1102px #FFF, 1369px 990px #FFF, 1565px 138px #FFF, 783px 1461px #FFF, 944px 86px #FFF, 559px 916px #FFF, 471px 1107px #FFF, 823px 583px #FFF, 529px 1148px #FFF, 1435px 316px #FFF, 430px 1279px #FFF, 434px 1649px #FFF, 104px 405px #FFF, 140px 1141px #FFF, 791px 151px #FFF, 1730px 1136px #FFF, 566px 1962px #FFF, 515px 975px #FFF, 1549px 19px #FFF, 650px 305px #FFF, 1414px 126px #FFF, 1093px 1243px #FFF, 1770px 128px #FFF, 1700px 1626px #FFF, 103px 1813px #FFF, 1273px 22px #FFF, 1650px 805px #FFF, 1931px 849px #FFF, 863px 886px #FFF, 588px 1818px #FFF, 749px 483px #FFF, 1454px 579px #FFF, 972px 623px #FFF, 818px 842px #FFF, 1475px 208px #FFF, 1104px 1304px #FFF, 1672px 603px #FFF, 1406px 922px #FFF, 653px 1047px #FFF, 814px 751px #FFF, 1326px 435px #FFF, 90px 813px #FFF, 1134px 598px #FFF, 595px 1056px #FFF, 382px 748px #FFF, 856px 1804px #FFF, 1442px 1309px #FFF, 1040px 157px #FFF, 1307px 1362px #FFF, 26px 1533px #FFF, 1681px 1321px #FFF, 1689px 1784px #FFF, 810px 887px #FFF, 1722px 338px #FFF, 1372px 1078px #FFF, 1055px 428px #FFF, 408px 494px #FFF, 910px 118px #FFF, 1233px 1771px #FFF, 1993px 165px #FFF, 1923px 593px #FFF, 595px 60px #FFF, 1035px 462px #FFF, 618px 987px #FFF, 1866px 690px #FFF, 812px 1060px #FFF, 1535px 692px #FFF, 798px 684px #FFF, 547px 746px #FFF, 448px 801px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  border-radius: 50px;
  box-shadow: 59px 1484px #FFF, 1341px 905px #FFF, 373px 1955px #FFF, 941px 1151px #FFF, 1972px 1848px #FFF, 120px 1707px #FFF, 1963px 1000px #FFF, 246px 1280px #FFF, 240px 317px #FFF, 1951px 340px #FFF, 1395px 1898px #FFF, 1480px 969px #FFF, 1517px 1627px #FFF, 1553px 424px #FFF, 592px 694px #FFF, 828px 527px #FFF, 893px 1534px #FFF, 1037px 1499px #FFF, 1988px 730px #FFF, 1053px 1546px #FFF, 1844px 413px #FFF, 531px 673px #FFF, 247px 352px #FFF, 981px 1362px #FFF, 1571px 2000px #FFF, 1834px 1678px #FFF, 1770px 335px #FFF, 1147px 1155px #FFF, 131px 128px #FFF, 776px 490px #FFF, 101px 1090px #FFF, 1818px 1882px #FFF, 216px 872px #FFF, 1273px 133px #FFF, 1313px 348px #FFF, 689px 130px #FFF, 981px 1477px #FFF, 310px 1878px #FFF, 839px 1314px #FFF, 1926px 378px #FFF, 620px 301px #FFF, 864px 637px #FFF, 1281px 180px #FFF, 465px 1112px #FFF, 445px 37px #FFF, 1194px 1473px #FFF, 1066px 148px #FFF, 1818px 402px #FFF, 17px 161px #FFF, 1188px 1361px #FFF, 443px 1036px #FFF, 1100px 1703px #FFF, 1118px 1012px #FFF, 1615px 617px #FFF, 398px 967px #FFF, 113px 398px #FFF, 561px 1238px #FFF, 1701px 663px #FFF, 1625px 1120px #FFF, 281px 754px #FFF, 29px 181px #FFF, 1599px 645px #FFF, 1881px 1421px #FFF, 512px 702px #FFF, 547px 1026px #FFF, 430px 1558px #FFF, 819px 708px #FFF, 110px 988px #FFF, 1666px 1617px #FFF, 1845px 861px #FFF, 739px 1446px #FFF, 1386px 282px #FFF, 661px 1833px #FFF, 265px 586px #FFF, 1612px 749px #FFF, 1326px 1576px #FFF, 1940px 1714px #FFF, 1569px 1467px #FFF, 1639px 1869px #FFF, 243px 1934px #FFF, 284px 1579px #FFF, 1594px 1709px #FFF, 1855px 927px #FFF, 751px 195px #FFF, 642px 568px #FFF, 172px 198px #FFF, 262px 57px #FFF, 1867px 132px #FFF, 332px 1051px #FFF, 1479px 1698px #FFF, 348px 1193px #FFF, 1686px 565px #FFF, 1263px 1150px #FFF, 1701px 212px #FFF, 1571px 1010px #FFF, 1262px 1429px #FFF, 1442px 1810px #FFF, 713px 1727px #FFF, 1957px 1513px #FFF, 1208px 899px #FFF, 59px 1484px #FFF, 59px 1484px #FFF, 59px 1484px #FFF, 59px 1484px #FFF, 59px 1484px #FFF, 59px 1484px #FFF;
  animation: animStar 110s linear infinite;
  /* what the animation actually does, name, duration, transition and repition */
}

#stars3:after {
  content: " ";
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 59px 1484px #FFF, 1341px 905px #FFF, 373px 1955px #FFF, 941px 1151px #FFF, 1972px 1848px #FFF, 120px 1707px #FFF, 1963px 1000px #FFF, 246px 1280px #FFF, 240px 317px #FFF, 1951px 340px #FFF, 1395px 1898px #FFF, 1480px 969px #FFF, 1517px 1627px #FFF, 1553px 424px #FFF, 592px 694px #FFF, 828px 527px #FFF, 893px 1534px #FFF, 1037px 1499px #FFF, 1988px 730px #FFF, 1053px 1546px #FFF, 1844px 413px #FFF, 531px 673px #FFF, 247px 352px #FFF, 981px 1362px #FFF, 1571px 2000px #FFF, 1834px 1678px #FFF, 1770px 335px #FFF, 1147px 1155px #FFF, 131px 128px #FFF, 776px 490px #FFF, 101px 1090px #FFF, 1818px 1882px #FFF, 216px 872px #FFF, 1273px 133px #FFF, 1313px 348px #FFF, 689px 130px #FFF, 981px 1477px #FFF, 310px 1878px #FFF, 839px 1314px #FFF, 1926px 378px #FFF, 620px 301px #FFF, 864px 637px #FFF, 1281px 180px #FFF, 465px 1112px #FFF, 445px 37px #FFF, 1194px 1473px #FFF, 1066px 148px #FFF, 1818px 402px #FFF, 17px 161px #FFF, 1188px 1361px #FFF, 443px 1036px #FFF, 1100px 1703px #FFF, 1118px 1012px #FFF, 1615px 617px #FFF, 398px 967px #FFF, 113px 398px #FFF, 561px 1238px #FFF, 1701px 663px #FFF, 1625px 1120px #FFF, 281px 754px #FFF, 29px 181px #FFF, 1599px 645px #FFF, 1881px 1421px #FFF, 512px 702px #FFF, 547px 1026px #FFF, 430px 1558px #FFF, 819px 708px #FFF, 110px 988px #FFF, 1666px 1617px #FFF, 1845px 861px #FFF, 739px 1446px #FFF, 1386px 282px #FFF, 661px 1833px #FFF, 265px 586px #FFF, 1612px 749px #FFF, 1326px 1576px #FFF, 1940px 1714px #FFF, 1569px 1467px #FFF, 1639px 1869px #FFF, 243px 1934px #FFF, 284px 1579px #FFF, 1594px 1709px #FFF, 1855px 927px #FFF, 751px 195px #FFF, 642px 568px #FFF, 172px 198px #FFF, 262px 57px #FFF, 1867px 132px #FFF, 332px 1051px #FFF, 1479px 1698px #FFF, 348px 1193px #FFF, 1686px 565px #FFF, 1263px 1150px #FFF, 1701px 212px #FFF, 1571px 1010px #FFF, 1262px 1429px #FFF, 1442px 1810px #FFF, 713px 1727px #FFF, 1957px 1513px #FFF, 1208px 899px #FFF;
}

#title {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
  font-family: "lato", sans-serif;
  font-weight: 300;
  font-size: 50px;
  letter-spacing: 10px;
  margin-top: -60px;
  padding-left: 10px;
  line-height: 50px;
  overflow: hidden;
}

@keyframes animStar {
  /* controls the animation, as in what happens */
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}